// Add your styles here
.image-container {
  position: relative;
}

.fav-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(207, 107, 124);
  border-radius: 35%;
  height: 400px;
}

.header {
  text-align: center;
  margin-bottom: 50px;
}

body {
  height: 400vh;
}

